*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    text-align: center;
}

.head h1{
    margin: 30px !important;
    font-size: 34px;
}

.main-block {
    line-height: 34px;
    padding-bottom: 18px;
    padding-top: 18px;
    }

.main-block p {
    background: url('img/Vector.jpg') 620px 5px no-repeat;
}


.main-block p:first-child {
   text-decoration: line-through;
}

.main-block p:nth-child(2) {
    font-weight: 700;
}

.main-block p:nth-child(3) {
    font-style: italic
}

.main-block p:last-child {
    text-transform: uppercase;
} 


.block p {
    text-align: center;
    line-height: 34px;
    background: url('img/Vector.jpg') 620px 5px no-repeat;
}

.block p:nth-child(3) {
    color: green;
}

.block p:nth-child(2):hover {
    color: red;
}

.color:active {
    color: yellow;
} 

.new:hover {
    color:green;
}

.container {
    margin: 150px;
    display: flex;
    justify-content: space-between;
    color: white
}

.first-button {
    border: 1px solid rgb(3, 113, 146);
    border-radius: 20px 0px 20px 0px;
    background: rgb(3, 113, 146);
    padding: 12px 48px;
    margin-left: 150px;
}

.second-button {
    border: 1px solid rgb(3, 113, 146);
    border-radius: 20px 0px 20px 0px;
    background: rgb(3, 113, 146);
    padding: 12px 48px;
}

.second-button:hover {
    color:rgb(143, 236, 143);
    background-color: green ;
}

.third-button {
    border: 1px solid rgb(3, 113, 146);
    border-radius: 20px 0px 20px 0;
    background: rgb(3, 113, 146);
    padding: 12px 48px;
    margin-right: 130px;
}

.third-button:active {
    background-color: aquamarine;
}

.third-button:active {
    color: yellow;
}